<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Google font typography settings - defined in _config.yml -->
  {% if site.resume_theme == 'default' %}
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:400,300,800,700' rel='stylesheet' type='text/css'>
  {% endif %}

  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="css/main.css">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="favicon.png" />
  <script>
    let currentUrl = window.location.href;
    let currentHost = window.location.host;
    switch(currentHost){
      case 'anfrek.dev.fiako.engineering':
      window.location.href = 'https://fiako-anfrek.herokuapp.com'
      break;
      case 'demo-stations.dev.fiako.engineering':
      window.location.href = 'https://demo-fiako-stations.herokuapp.com'  
      break;
      case 'rainfall.dev.fiako.engineering':
      window.location.href = 'https://hidrokit-rainfall.herokuapp.com'  
      break;
      case 'stations.dev.fiako.engineering':
      window.location.href = 'https://fiako-stations.herokuapp.com'  
      break;
      case '127.0.0.1:4000':
      alert("Uhuuuyyy");
      break;
      default:
        alert("New URL Web Apps is available!");
    }
  </script>
</head>
